$small-mobile-breakpoint: 380px;
$large-mobile-breakpoint: 560px;
$tablet-breakpoint: 769px;
$desktop-breakpoint: 1080px;
$widescreen-breakpoint: 1216px;
$fullhd-breakpoint: 1440px;

$colors-front: green #e62626 #fcfcfc;
$colors-back: black #f3c49d #0d00ff;
